.image-slider {
    width: 100%;
    height: 100%;
}

.image-slider img {
    transition: opacity 100ms ease, filter 300ms ease-in-out;
}

.image-slider img.image-exit {
    opacity: 0.5;
    filter: blur(2px);
}

.image-slider img.image-enter {
    opacity: 1;
    filter: blur(0px);
}