.image-slider {
    width: 100%;
    height: 100%;

    border-radius: var(--_img-border, 8px);
    background-color: var(--clr-hover-dark);
}

.image-slider .slider__button:nth-of-type(1) {
    inset: 0 auto 0 0;

    z-index: 10;
}

.image-slider .slider__button:nth-of-type(2) {
    inset: 0 0 0 auto;

    z-index: 10;
}

.image-slider .button.icon {
    --_icon-width: 50px;
}

/* Fade mode */
.image-slider img[data-animation-mode='fade'] {
    transition: opacity 100ms ease, filter 300ms ease-in-out;
}

.image-slider img[data-animation-mode='fade'].image-exit {
    opacity: 0.5;
    filter: blur(2px);
}

.image-slider img[data-animation-mode='fade'].image-enter {
    opacity: 1;
    filter: blur(0px);
}

/* Image slide colllection */
.image-slider .image-slide-collection {
    padding: var(--image-slider-collection-spacing);
} 

.image-slider .image-slide-collection .img-container {
    --_img-max-width: var(--image-slider-slide-max-width);
}