.button {
    --_background: var(--clr-button-background);

    padding: var(
        --_button-spacing, 
        calc(var(--button-spacing) * 0.5) var(--button-spacing)
        );

    font-size: var(--_font-size, var(--fs-420));

    background-color: var(--_background, --clr-button-background);
    border: var(--_border-button, 2px solid transparent);
    border-radius: var(--_border-radius, 1px);

    transition: background-color 105ms ease-in-out;
}

/* Icon */
.button[data-variant='icon'] {
    --_background: var(--clr-hover);
    --_button-spacing: 0.45em;
    --_font-size: var(--fs-420);
    
    width: var(--button-icon-width);
    aspect-ratio: 1 / 1;
    height: 100%;
    transition: filter var(--speed) ease-in-out;
}

.button[data-variant='icon']:is(:hover, :focus) {
    filter: brightness(1.2);
}

.button:is([data-variant='transparent']) {
    --_background: transparent;
}

/* Interactive */
.button[data-variant='interactive'] {
    --_background: var(--clr-button-background);
    --_border-radius: 6px;

    border-color: var(--clr-hover);
}

.button[data-variant='interactive']:not([data-hover-disable]):is(:hover, :focus) {
    --_background: var(--clr-hover);
}