.product-view-container .product__img-slider.container {
    --_width: 90vw;
    --_max-width: 50rem;

    aspect-ratio: 16 / 9;
}

.product-view-container .product__info {
    max-height: var(--product-info-height);
    padding: var(--product-description-spacing);
    overflow-y: auto;
    word-break: break-all;
    border: 2px solid var(--clr-hover);
}

.product-view-container .section__title {
    padding-block: 0.45em;
    border-bottom: 1px solid var(--clr-hover);
}

.product-view-container .product__type-paths a:last-of-type {
    color: var(--clr-tag-text);
}