/* Flex */
[class*='flex'] {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-align-center {
    align-items: center;
}

.flex-align-start {
    align-items: start;
}

.flex-justify-center {
    justify-content: center;
}

.flex-align-end {
    align-items: flex-end;
}

.flex-justify-between {
    justify-content: space-between;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

/* Grid */
[class*='grid'] {
    display: grid;
}

.grid-auto-columns {
    grid-template-columns: repeat(5, 1fr);
}

.grid-repeater {
    --_items: 2;

    grid-template-columns: repeat(var(--_items), 1fr);
    gap: var(--_gap, 2em);
}

/* Misc */
.flow > * + * {
    margin-top: 0.3em;
}

/* Gaps */
.gap-025 {
    gap: 0.25em;
}

.gap-05 {
    gap: 0.5em;
}

.gap-075 {
    gap: 0.75em;
}

.gap-1 {
    gap: 1em;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    *:where([data-flex-collapse]) {
        flex-direction: column;
    }

    *:is([data-grid-collapse]) {
        --_items: 1;
    }
}