/* Flex */
[class*='flex'] {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-align-center {
    align-items: center;
}

.flex-justify-between {
    justify-content: space-between;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

/* Grid */
[class*='grid'] {
    display: grid;
}

.grid-auto-columns {
    grid-template-columns: repeat(5, 1fr);
}

/* Misc */
.flow > * + * {
    margin-top: 0.3em;
}

/* Gaps */
.gap-025 {
    gap: 0.25em;
}

.gap-05 {
    gap: 0.5em;
}