/* Margins [Not Logical] */
.margin-left-auto {
    margin-left: auto;
}

.margin-right-auto {
    margin-right: auto;
}

.margin-top-05rem {
    margin-top: 0.5rem
}

/* Margins [Logical] */
.margin-block-1rem {
    margin-block: 1rem;
}