/* Margins [Not Logical] */
.margin-left-auto {
    margin-left: auto;
}

.margin-right-auto {
    margin-right: auto;
}

.margin-top-05rem {
    margin-top: 0.5rem
}

.margin-right-05rem {
    margin-right: 0.5rem;
}

.margin-inline-auto {
    margin-inline: auto;
}

.margin-inline-025 {
    margin-inline: 0.25em;
}

.margin-inline-05 {
    margin-inline: 0.5em;
}

/* Margins [Logical] */
.margin-block-1rem {
    margin-block: 1rem;
}