/* Positions */
.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
}

.pos-fixed {
    position: fixed;
}

.pos-sticky {
    position: sticky;
}

/* Overflows */
.overflow-hidden {
    overflow: hidden;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.overflow-y-auto {
    overflow-y: auto;
}

/* Displays */
.display-block {
    display: block;
}

.display-inline-block {
    display: inline-block;
}

/* Borders */
.border-radius-inherit {
    border-radius: inherit;
}

.border-radius-50pct {
    --_border-radius: 50%;

    border-radius: 50%;
}

.border-radius-100vw {
    --_border-radius: 100vw;

    border-radius: 100vw;
}

.border-radius-6px {
    --_border-radius: 6px;

    border-radius: 6px;
}

/* Cursors */
.cursor-pointer {
    cursor: pointer;
}

.select-none {
    user-select: none;
}

/* Texts */
.text-muted {
    color: var(--clr-muted);
}

.text-center {
    text-align: center;
}

.text-capital {
    text-transform: capitalize;
}

.text-upper {
    text-transform: uppercase;
}

.white-space-nowrap {
    white-space: nowrap;
}

/* Widths & Heights */
.width-100pct {
    width: 100%;
}

.height-100pct {
    height: 100%;
}

/* Insets */
.inset-all {
    inset: 0;
}