:root {
    /* Main Colors */
    --clr-background: hsl(222 2% 8%);
    --clr-foreground: white;

    --clr-hover: hsl(0 0% 50% / 0.36);
    --clr-hover-dark: hsl(0 0% 50% / 0.18);

    --clr-neutral-300: hsl(0 0% 90%);

    --clr-muted: hsl(0 0% 76%);

        /* Speeds */
        --speed: 95ms;

    /* Font sizes */
    --fs-100: calc(var(--fs-400) * 0.7);
    --fs-200: calc(var(--fs-400) * 0.8);
    --fs-300: calc(var(--fs-400) * 0.9);
    --fs-400: 1rem;
    --fs-450: calc(var(--fs-400) * 1.10);
    --fs-500: calc(var(--fs-400) * 1.25);
    --fs-600: calc(var(--fs-400) * 1.5);
    --fs-700: calc(var(--fs-400) * 1.75);

    /* Navbar */
    --clr-nav-background: hsl(222 2% 14%);

        /* Units */
        --nav-height: 3.5rem;
        --nav-spacing: 1em;

    /* Floating Navbar */
        /* Units */
        --floating-navbar-margin: 1rem;

    /* Home */
    --home-showcase-height: 24rem;

    /* Product */
        /* Units */
        --product-description-height: 34ch;
        --product-description-spacing: 0.5em;

    /* Inputs */
    --clr-input-interact: hsl(217 71% 30%);
        /* Units */
        --input-spacing: 0.95em;
        --input-clear-button-spacing: 0.5em;

    /* Card */
    --clr-card-background: hsl(218 2% 20%);
    --clr-card-tooltip-background: hsl(218 2% 14%);

    --clr-card-dark-background: hsl(218 2% 13%);
        /* Units */
        --card-spacing: 0.5em;

        /* Product Card */
            /* Units */
            --card-image-size-small: 7rem;
            --card-image-size-big: 9rem;

    /* Review */
        /* Units */
        --size-review-profile: 3em;

    /* Media Scroller */
        /* Units */
        --media-scroller-spacing: 0.5em;

    /* Tag */
    --clr-tag-background: hsl(0 0% 16%);

    --clr-tag-link-background: hsl(220 70% 36% / 0.24);
    --clr-tag-link-hover: hsl(220 70% 36% / 0.5);
    --clr-tag-text: hsl(220 92% 69%);
        /* Units */
        --tag-spacing: 0.35em;
    
    /* Tooltip */
        /* Units */
        --tooltip-max-width: 628px;

    /* Star Rating */
        /* Units */
        --rating-bar-spacing: 0.75em;

    /* Buttons */
    --clr-button-background: rgba(0 0 0 / 0.26);
    --clr-button-price-background: hsl(218 2% 11%);

    --clr-button-danger: hsl(4 76% 52% / 0.26);
    --clr-button-danger-border: hsl(4 76% 52%);

        /* Units */
        --button-spacing: 0.75em;

        --button-icon-width: 45px;

    /* Dropdown */
    --clr-dropdown-background: hsl(218 2% 16%);
    --shadow-dropdown: 0 0 4px 4px rgba(0 0 0 / 0.26);

        /* Units */
        --dropdown-spacing: 0.5em;
        --dropdown-width: 260px;
        --speed-dropdown: 195ms;

    /* Link */
    --clr-link-hover: hsl(217 91% 60%);
    

    /* Icon */
        /* Units */
        --icon-spacing: 0.65em;

    /* Image slider */
        /* Units */
        --image-slider-collection-spacing: 0.4em;
        --image-slider-slide-max-width: 5rem;

    /* Image */
    --clr-img-container: hsl(218 2% 36%);
}