.card {
    background-color: var(--_background, var(--clr-card-background));
    padding: var(--_card-spacing, var(--card-spacing));

    border-radius: var(--_card-border, 6px);
}

.card[data-variant='dark'] {
    background-color: var(--clr-card-dark-background);
}

.card[data-spacing='spacious'] {
    --_card-spacing: calc(var(--card-spacing) * 2);
}

.card[data-spacing='halfspacious'] {
    --_card-spacing: calc(var(--card-spacing) * 1.5);
}

.card img {
    background-color: var(--clr-hover);
    border-radius: var(--_img-border, 5px);
}