.card {
    background-color: var(--clr-card-background);
    padding: var(--_card-spacing, 0.5em);

    border-radius: var(--_card-border, 6px);
}

.card img {
    background-color: var(--clr-hover);
    border-radius: var(--_img-border, 5px);
}