/* Stars */
.star-rating:is([data-view-only='false']) .star:hover,
.star-rating:is([data-view-only='false']) .star:hover ~ .star,
.star-rating .star[data-variant='selected'],
.star-rating .star[data-variant='selected'] ~ .star {
    font-weight: bold;
    color: var(--clr-star, gold);
}

.star-rating .star::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--clr-star, gold);

    width: var(--star-dot-width, 0.2rem);
    aspect-ratio: 1;

    border-radius: 50%;
    transition: transform 180ms ease-in-out, opacity 200ms ease;
}

.star-rating .star[data-variant='none']::before {
    opacity: 0;
}

.star-rating .star[data-variant='selected']::before {
    transform: translate(-50%, var(--star-dot-y, -0.75rem));
}

/* Rating bar */
.star-rating .rating__bar {
    padding: var(--rating-bar-spacing);
    width: calc(var(--tooltip-max-width) / 2);

    border: 1px solid var(--clr-hover);
    border-radius: var(--_rating-bar-border, 6px);
}

.star-rating .rating__bar::after {
    content: '';
    position: absolute;

    background-color: var(--clr-star, gold);

    inset: 0;
    transform: scaleX(var(--_scale-pct, 0));
    transform-origin: left;
}