.hoverable {
    transition: background-color var(--speed) ease-in-out;
}

.hoverable:is(:hover, :focus) {
    --_background: var(--clr-hover);
}

.hoverable[data-variant='link']:is(:hover, :focus) {
    --_background: var(--clr-tag-link-hover);
}