.tag {
    font-size: var(--fs-200);
    padding: var(--_tag-spacing, var(--tag-spacing));

    background-color: var(--_background, var(--clr-tag-background));
    color: var(--_color, var(--clr-neutral-300));

    border-radius: var(--_border-radius, 7px);
    white-space: nowrap;
}

.tag:not(.button) {
    font-weight: bold;
}

.tag[data-variant='link'],
.card[data-variant='tag'] {
    --_background: var(--clr-tag-link-background);
    --_color: var(--clr-tag-text);

    font-size: var(--fs-300);
}