.main-nav {
    background-color: var(--clr-nav-background);
    padding: calc(var(--nav-spacing) * 0.5) var(--nav-spacing);
    height: var(--nav-height);
}

.main-nav #navbar-cart-dropdown {
    --_transform-x: -90%;
}

.main-nav .navbar__cart-button {
    bottom: 3%;
}