.main-nav {
    background-color: var(--clr-nav-background);
    padding: calc(var(--nav-spacing) * 0.5) var(--nav-spacing);
    height: var(--nav-height);
}

.main-nav #navbar-cart-dropdown {
    --_transform-x: -90%;
}

.main-nav #navbar-cart-dropdown .img-container {
    --_img-max-width: 8rem;
}

.main-nav .navbar__cart-button {
    bottom: 3%;
}

.main-nav .button.icon {
    --_icon-width: 40px;
}